.loader {
    position: absolute;
    top: 50%;
//left: 50%;
    left: calc(50% - 32px);
    width: 70px;
}
.tab-container {
    width: 100%;
    min-height: 500px;
    position: absolute;
}

.pageNumbers {
    cursor: pointer;
    margin-bottom: 20px;
}

.selectedPage {
    font-weight: bold;
}

.user {
    display: flex;
    margin: 10px 20px;
}

.avatar {
    display: flex;
    flex-direction: column;
}

.avatar img {
    width: 70px;
    margin-bottom: 5px;
}

.userBlock {
    border: 1px solid #8c91b6;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    display: flex;
    margin-left: 20px;
}

/*.nameStatus {*/
/*    text-align: left;*/
/*    margin-right: 300px;*/
/*}*/

/*.location {*/
/*    text-align: right;*/
/*}*/