.loader {
    position: absolute;
    top: 50%;
//left: 50%;
    left: calc(50% - 32px);
    width: 70px;
}
.tab-container {
    width: 100%;
    min-height: 500px;
    position: absolute;
}
.usersWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.paginator {
    text-align: center;
    margin-top: 20px;
}