.loader {
    width: 60px;
}

.pageNumbers {
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.selectedPage {
    font-weight: bold;
}

.user {
    display: flex;
    margin: 10px 20px;
}

.avatar {
    display: flex;
    flex-direction: column;
}

.avatar img {
    width: 70px;
    margin-bottom: 5px;
}

.userBlock {
    border: 1px solid midnightblue;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    display: flex;
    margin-left: 20px;
}

.nameStatus {
    text-align: left;
    margin-right: 300px;
}

.location {
    text-align: right;
}