.user {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    border: 1px solid #8c91b6;
    border-radius: 10px;
    width: 130px;
    padding: 10px;
}

.avatar {
    display: flex;
    flex-direction: column;
}

.avatar img {
    width: 100px;
    margin-bottom: 5px;
}

.userName {
    text-align: center;
}