.input {
    width: 270px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.invalid {
    border: 2px solid red;
}

.inputBlock {
    height: 75px;
}

.errorText {
    color: red
}