.backgroundPhoto {
    width: 1000px;
    height: 300px;
    border: 1px solid #8c91b6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.profilePhoto {
    border: 2px solid #8c91b6;
    width: 200px;
    height: 200px;
    position: absolute;
    vertical-align: text-top;
    background-color: #1c2444;
    top: 320px;
    left: 280px;
}

.descriptionBlock {
    margin-left: 240px;
    padding: 10px;
}