.container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.backgroundPhoto {
    width: 100%;
    height: 300px;
    /*border: 1px solid #8c91b6;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.profilePhotoWrapper {
    width: 200px;
    height: 230px;
    position: absolute;
    background-color: #1c2444;
    bottom: -102px;
    left: 20px;
}

.profilePhoto {
    border: 2px solid #8c91b6;
    background-size: cover;
    width: 100%;
    height: 200px;

    /*position: absolute;*/
    /*background-color: #1c2444;*/
    /*bottom: -100px;*/
    /*left: 20px;*/
}

.descriptionBlock {
    margin-left: 240px;
    margin-bottom: 20px;
    color: #8c91b6;
}

.name {
    margin-bottom: 0;
}

.status {
    cursor: pointer;
}