.container {
    position: relative;
}

.backgroundPhoto {
    width: 1000px;
    height: 300px;
    border: 1px solid #8c91b6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.profilePhoto {
    border: 2px solid #8c91b6;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #1c2444;
    bottom: -110px;
    left: 20px;
}

.descriptionBlock {
    margin-left: 240px;
    padding: 10px;
    color: #8c91b6;
}