.item {
    color: #8c91b6;
    margin-bottom: 20px;
    padding: 10px;
}

.postBlock {
    display: flex;
}

.item img {
    width: 40px;
}

.text {
    font-size: medium;
    margin-left: 20px;
}

.likes {
  margin-top: 10px;
}
