.app-wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
   "h h"
   "n c";

    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 15px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #1c2444;
    border-radius: 5px;
    padding: 30px;
}

hr {
    border: 1px solid #44496f;
}